@font-face {
  font-family: 'fragment-mono';
  src:
    /* IE6-IE8 */
    url('/fonts/fragmentmono-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/fragmentmono-regular.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/fragmentmono-regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media print {
  #control-panel {
    display: none !important;
  }
  .footer {
    display: none !important;
  }
  .topnavbar {
    display: none !important;
  }
  #tree-panel {
    display: none !important;
  }
}

#control-panel {
  color: red;
  position: absolute;
  top: 49px;
  right: 0px;
  max-height: calc(100% - 119px);
  overflow: auto;
  z-index: 100;
}

#close {
  position: absolute;
  top: 3px;
  right: 3px;
  display: inline-block;
  padding: 2px 5px;
  transition: 0.3s;
}

#close:hover {
  float: right;
  display: inline-block;
  padding: 2px 5px;
  background: #ccc;
  color: black;
}

#infopanel {
  padding: 10px;
  position: absolute;
  display: none;
  color: azure;
  width: 300px;
  border-style: solid;
  border-color: coral;
  border-width: 1px;
  background-color: rgb(63, 53, 53);
}

.cautionpanel {
  position: absolute;
  z-index: 110;
  display: none;
  left: 25%;
  top: 50%;
  width: 50%;
  margin-top: -50px;
  margin-left: -50px;
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}

.cautionpanel-error {
  background-color: #a93027;
}

.cautionpanel-warning {
  background-color: #251410;
}

.file-upload {
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 100;
  display: block;
  color: azure;
}

#tree-panel {
  width: 300px;
  position: absolute;
  top: 80px;
  left: 0px;
  max-height: calc(100% - 150px);
  overflow: auto;
  text-align: left;
  z-index: 100;
  display: block;
  color: azure;
  background-color: white;
  background: black;
  font-family: fragment-mono;
  font-size: 12px;
}

#caveeditor {
  width: 600px;
  position: absolute;
  top: 80px;
  left: 300px;
  text-align: center;
  z-index: 100;
  color: azure;
  background: rgb(40, 40, 40);
  display: none;
}

#surveyeditor {
  width: 700px;
  position: absolute;
  top: 80px;
  left: 300px;
  text-align: left;
  z-index: 100;
  color: azure;
  background: rgb(40, 40, 40);
  display: none;
}

#interactive {
  text-align: left;
  font-size: 12px;
  position: absolute;
  color: azure;
  background: #333;
  width: 260px;
  min-width: 200px;
  z-index: 100;
  display: none;
  top: 50px;
  left: 650px;
}

#interactive button {
  margin-top: 20px;
  text-align: center;
}

#interactive div {
  margin-bottom: 5px;
  text-align: center;
}

#interactive select {
  background: #333;
  color: azure;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
  width: 160px;
  margin-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(9, 9, 66);
  color: white;
  text-align: left;
}

.footer #content {
  margin-left: 10px;
  margin-top: 5px;
}

.tabulator .tabulator-footer {
  color: white;
}

.tabulator {
  font-size: 12px;
}

.tabulator .add-row {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  background: no-repeat center/70% url(../icons/add_white.svg);
}

.tabulator .delete-row {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  background: no-repeat center/70% url(../icons/trash_white.svg);
}
.tabulator .delete-row:hover {
  background: no-repeat center/70% url(../icons/trash_red.svg);
}

.tabulator .warning-row {
  height: 20px;
  width: 20px;
  background: no-repeat center/70% url(../icons/warning.svg);
}

.tabulator .ok-row {
  height: 20px;
  width: 20px;
  background: no-repeat center/70% url(../icons/ok.svg);
}

.tabulator .center-row {
  height: 20px;
  width: 20px;
  background: no-repeat center/70% url(../icons/center.svg);
}

.tabulator .splay-row {
  height: 20px;
  width: 20px;
  background: no-repeat center/70% url(../icons/splay.svg);
}

.tabulator input[type='color'] {
  display: none;
}

.tabulator input[type='color'] + label {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
  left: 10px;
}

.tabulator-editing[tabulator-field='attributes'] {
  overflow: visible;
}

.tabulator-editing[tabulator-field='attribute'] {
  overflow: visible;
}

.tabulator .tabulator-cell .attributes-editor {
  font-size: 12px;
  position: absolute;
  z-index: 100;
  min-width: 300px;
  right: 0px;
  background: rgb(40, 40, 40);
  border: 2px solid white;
  padding: 5px 5px;
}

.tabulator .tabulator-cell .attributes-editor input {
  outline: none;
  color: azure;
  background: rgb(40, 40, 40);
  text-align: center;
  display: inline-block;
}

.tabulator .tabulator-cell .attributes-editor input[type='text'] {
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.tabulator .tabulator-cell .attributes-editor input[type='search'] {
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.tabulator .tabulator-cell .attributes-editor .optionalInput {
  border-bottom: solid rgb(118, 118, 118) 2px;
}

.tabulator .tabulator-cell .attributes-editor .requiredInput {
  border-bottom: solid white 2px;
}

.tabulator .tabulator-cell .attributes-editor .invalidInput {
  border-bottom: solid red 2px;
}

.tabulator .tabulator-cell .attributes-editor .shortInput {
  width: 30px;
}

.tabulator .tabulator-cell .attributes-editor .longInput {
  width: 120px;
}

.tabulator .tabulator-cell .attributes-editor label {
  color: white;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

.tabulator .tabulator-cell .attribute-editor .warning {
  background: rgb(40, 40, 40);
  text-align: center;
  position: absolute;
  top: -40px;
  width: 150px;
  z-index: 102;
  display: none;
}

.tabulator-menu .delete-row {
  padding: 5px 10px;
  margin-right: 3px;
  position: relative;
  background: no-repeat center/80% url(../icons/trash_white.svg);
}

.tabulator-menu {
  color: azure;
  font-size: 12px;
  border-color: white;
}

.tabulator-menu .add-row {
  padding: 5px 10px;
  margin-right: 3px;
  position: relative;
  background: no-repeat center/80% url(../icons/add_white.svg);
}

.cave-stats {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}

.cave-stats span {
  margin-top: 5px;
  margin-left: 10px;
  white-space: nowrap;
  display: inline-block;
}

.editor {
  font-size: 12px;
}

.editor input {
  outline: none;
  color: azure;
  background: rgb(40, 40, 40);
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  display: inline-block;
  float: right;
}

.editor input[type='text'] {
  width: 50%;
}

.editor input[type='date'] {
  width: 70%;
}

.editor label {
  color: white;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 10px;
  white-space: nowrap;
  width: 200px;
  display: inline-block;
}

.popup button {
  font-size: 12px;
  border: 1px solid #328e3a;
  background: linear-gradient(to bottom, #328e3a 0%, #5fc768 100%);
  color: azure;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 5px;
  transition:
    color 0.3s,
    background 0.3s,
    opacity,
    0.3s;
}

.popup button:hover {
  border: 1px solid #328e3a;
  background: linear-gradient(to bottom, #5fc768 0%, #328e3a 100%);
  color: #000;
}

.popup .close {
  cursor: default;
  right: 10px;
  top: 8px;
  height: 20px;
  width: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: absolute;
  background: no-repeat center/100% url(../icons/close.svg);
}

.popup .close:hover {
  background: no-repeat center/100% url(../icons/close_hover.svg);
}

.popup {
  z-index: 100;
  background-color: #f1f1f1;
  border: 2px solid #d3d3d3;
  border-radius: 11px;
  text-align: center;
  min-height: 150px;
  min-width: 300px;
  max-height: 500px;
  max-width: 800px;
}

/*Drgable */

.popup {
  position: absolute;
  /*resize: both; !*enable this to css resize*! */
  overflow: auto;
}

.popup-header {
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(17, 17, 17);
  color: #fff;
}

/*Resizeable*/

.popup .resizer-right {
  width: 6px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.popup .resizer-bottom {
  width: 100%;
  height: 10px;
  background: red;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.popup .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}
