.infinite-tree-scroll {
  overflow: auto;
  
}
.infinite-tree-table {
  width: 100%;
}
.infinite-tree-content {
  outline: 0;
  position: relative;
}
.infinite-tree-content .infinite-tree-selected.infinite-tree-item,
.infinite-tree-content .infinite-tree-selected.infinite-tree-item:hover {
  background: #02142a;
  border: 1px solid #06c;
}
.infinite-tree-content .infinite-tree-item {
  border: 1px solid transparent;
  cursor: default;
}
.infinite-tree-content .infinite-tree-item:hover {
  background: #022228;
}
.infinite-tree-content .infinite-tree-item:disabled,
.infinite-tree-content .infinite-tree-item[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.infinite-tree-content .infinite-tree-node {
  position: relative;
}
.infinite-tree-content .infinite-tree-toggler {
  color: #666;
  user-select: none;
}
.infinite-tree-content .infinite-tree-toggler:hover {
  color: #333;
  text-decoration: none;
}
.infinite-tree-content .infinite-tree-title {
  cursor: pointer;
  user-select: none;
}
.infinite-tree-content .infinite-tree-edit {
  background-color: rgb(216, 223, 234);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: rgb(59, 89, 152);
  cursor: default;
  height: 18px;
  line-height: 18px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  position: absolute;
  right: 4px;
  text-align: center
}
.infinite-tree-no-data {
  text-align: center;
}

